.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #03045e;
}

.header{
text-align: center;
font-size: 2rem;
}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

h2{
    font-size: 2rem;
}

@media(min-width: 768px){
    .header{
        font-size: 3.5rem;
        }
        
        h1{
            font-size: 3.5rem;
        }
        
        h2{
            font-size: 3.5rem;
        }

}