.red{
    color: red;
}

a{
    text-decoration: none;
    color: #a9d6e5;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid  black; */
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navBtns ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBtns ul li {
    padding: 7px;
    padding-bottom: 0px;
    text-decoration: none; 
    border-bottom: 1px solid transparent;  
    font-size: 1rem;
    position: relative;
}

.navBtns ul li a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #03045e;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-20%, 0, 0);

}


.navBtns ul li a:hover::after{
    opacity: 1;
    transform: translate3d(0, 100%, 0);
    
}

@media(min-width: 768px){
    .navBtns ul li{
        font-size: 2rem;
        margin-right: 5px;
        margin-left: 5px;
    }

}










